/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*Copied from Andy Bell reset https://piccalil.li/blog/a-modern-css-reset/ ///////*/
/*Colours*/
/* Border Radius*/
/*/Screen Breakpoints*/
/*Padding and margin settings*/
/*standard padding for the site*/
/*Spacers*/ 
.nav-bar {
    /*padding: 0.5rem;*/
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   background-color: rgba(91, 91, 91, 0.541);
   padding: 1rem;
} 
.nav-container {
    border-radius: 10px;
    padding: 0.5rem;
    height: calc(100% - 1rem);
    background-color: #03b0fa;
} 
/*///////Nav menu links*/ 
.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} 
.nav-links li{
        margin-bottom: 0.5rem;

    } 
/*Settings to bring nav menu links in on small screens*/ 
.nav-links-menu-active{
transform: translateX(0);
opacity: 1;
transition: opacity 400ms ease-out, transform 400ms ease-out;
} 
/*//Nav Button Settings*/ 
.nav-btn {
    height: 100%;
    padding-block: 1.5rem;
    cursor: pointer;
    display:flex;
    flex-direction: column;
    gap: 0.5rem;
    will-change: transform;
    transform: rotate(0deg);
    transition: transform 300ms ease-out;

} 
@media (min-width:992px) { 
.nav-btn {
        display: none

}
    } 
.line1, .line2,.line3{
    display: inline-block;
    height: 3.5px;
    width: 50px;
    background-color: #f2f2;
    border-radius: 10px;
    margin-block: 0;
} 
.line1{
    transform: rotate(0deg) translateY(0);
    transition: transform 300ms ease-out, background-color 400ms ease-in-out;
} 
.line2{
    opacity: 1;
    transition: opacity 300ms ease-out, background-color 400ms ease-in-out;
  } 
.line3{
    transform: rotate(-0) translateX(0);
    transition: transform 300ms ease-out, background-color 400ms ease-in-out;
  } 
/*settings once clicked*/ 
.btn-active {
        will-change: transform;
        transform: rotate(-45deg);
        transition: transform 400ms ease-out;

} 
.btn-active .line1{
            transform: rotate(0deg) translateY(12px);
            transition: transform 400ms ease-out;
        } 
.btn-active .line2{
        opacity: 0;
        transition: opacity 300ms ease-out;
      } 
.btn-active .line3{
        transform: rotate(-90deg) translateX(10px);
      } 
.nav-links-active li{
    opacity: 1;
    transition: opacity 700ms ease-out;
    transition-delay: 300ms;
} 
/*//////////////////*/ 
/* Change to scrolled styles when user scrolls down the screen*/ 
.logo-text {/*settings when not scrolled*/
    fill: white;
    transition: fill 400ms ease-in-out;
} 
.logo-swipe {
    stroke: white;
    fill: none;
    transition: fill 400ms ease-in-out, stroke 400ms ease-in-out;
} 
/*settings when scrolled*/ 
.nav-scrolled {
    background-color: black;

    
} 
.nav-scrolled .line1, .nav-scrolled .line2, .nav-scrolled .line3 {
        background-color: #03b0fa;
        transition: transform 300ms ease-out, background-color 400ms ease-out, opacity 200ms ease-out;
    } 
.nav-scrolled .nav-links a {
        color: #03b0fa;
        transition: color 400ms ease-in-out;

    } 
.nav-scrolled .nav-links a:hover{
            color: var(--bs-link-hover-color)
        } 
.nav-scrolled .contact-header a, .nav-scrolled span{
        color: #03b0fa;
    transition: color 400ms ease-in-out;
    } 
.nav-scrolled .logo-text {
        fill: #03b0fa;
        transition: fill 400ms ease-in-out;
    } 
.nav-scrolled .logo-swipe {
        stroke: #03b0fa;
        fill: none;
        transition: fill 400ms ease-in-out, stroke 400ms ease-in-out;
    } 
.main{
    display: flex;
    background-color: green;
    padding: 1rem;
} 
/*Standard column gives equal widths*/ 
@media(min-width:768px){ 
.col-50{
        width: 50%
    
}
    } 
/*Flex rows. Column on small screens and row on larger screens*/ 
.row{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    
} 
@media(min-width: 768px){ 
.row{
    flex-direction: row
    
}
   } 
/*Flex utilities*/ 
@media(min-width:768px){ 
.flex-reverse-md{
        flex-direction: row-reverse /* reverse flex direction only on larger screen sizes*/
    
}
    } 
.grid-row-2col{/*grid row with 2 columns of equal width*/
    display: grid;
    gap: 0.5rem;
} 
@media(min-width:768px){ 
.grid-row-2col{
        grid-template-columns: 1fr 1fr;
        place-items: center
}
    } 
.grid-row-3col{/*grid row with 3 columns of equal width*/
    display: grid;
    gap: 0.5rem;
} 
@media(min-width:768px){ 
.grid-row-3col{
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: minmax(100px, auto)
}
    } 
/*Utility classes for grid */ 
.place-grid-start{/*places a grid item at the top of a grid row*/
    place-self: start;
} 
.container-fluid,
.container{
    width: 100%;
    padding-inline: 1rem;
} 
.container-fw{/*Full width container with no padding and margin*/
    width: 100%;
} 
.container{
    margin: 0 auto;
} 
@media (min-width:576px){
    .container{
        max-width: 540px;
    }
} 
@media (min-width:768px){
    .container{
        max-width: 720px;
    }
} 
@media (min-width:992px){
    .container{
        max-width: 960px;
    }
} 
@media (min-width:1200px){
    .container{
        max-width: 1140px;
    }
} 
@media (min-width:1400px){
    .container{
        max-width: 1320px;
    }
} 
.gallery{
    display: grid;
    gap: 0.25rem;

} 
.gallery img{
        width: 100%;
        height: 300px;
         object-fit: cover;
    } 
@media (min-width:768px){ 
.gallery{
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))

}
    } 
/*Full width call to action banner*/ 
.cta-fw{
    position: relative;
    padding: 2rem;
    background-color: black;
    color: #fff;
    text-align: center;
} 
@media(min-width:768px){ 
.cta-fw{
        padding: 5rem 4rem
}
    } 
.cta-fw:before{
        content: "";
        position: absolute;
        top: -10px;
        left: 50%;
        height: 20px;
        width: 20px;
        background-color: #d2d2d2;
        transform: rotate(45deg);
    } 
.cta-title{
    text-align: center;
    font-size: 2rem;

} 
/*spacing utilities*/ 
/*m = margin*/ 
/*p = padding*/ 
/*y = top and bottom*/ 
/*t = top*/ 
.mb-1{
    margin-bottom: 0.25rem;
} 
.mb-2{
    margin-bottom: 0.5rem;
} 
.mb-3{
    margin-bottom: 1.5rem;
} 
.mb-4{
    margin-bottom: 2rem;
} 
.my-3{
    margin-block: 1.5rem;
    
} 
.my-4{
    margin-block: 2rem;
} 
/*//Padding////*/ 
.py-4{
    padding-block: 2rem;
} 
.py-5{
    padding-block: 2.5rem;
} 
.pt-0{
    padding-top: 0;
} 
/*////*/ 
/*colour utilities*/ 
.bg-primary-col{
    /*change bg to primary colour*/
    background-color: #03b0fa;
} 
.bg-secondary-col{
    /*change bg to secondary col*/
    background-color: black;
} 
.bg-tertiary-col{
    background-color: #4D4D4D;
} 
.bg-tertiary-col-v2{/*uses tertiary color for bg but makes it opacity lower*/
    background-color: rgba(#4D4D4D, 0.25);
} 
/*Text Alignments*/ 
.text-center{
    text-align: center;
} 
/* Borders*/ 
.border-std{/*place a border radius std on all the site*/
    border-radius: 10px;
} 
/*Font colours*/ 
/*Change default font to primary colour*/ 
.text-color-primary{
    color: #03b0fa;
} 
/*Change font colour to white*/ 
.text-color-white{
    color: #fff;
} 
/*Font color muted. Slightly grey color*/ 
.text-color-muted{
    color: gray;
} 
/*flex utility classes*/ 
.flex-column{/*makes a flex column*/
    display: flex;
    flex-direction: column;
} 
.flex-space-between{
    justify-content: space-around;
} 
/*/Display utilities*/ 
.d-none{
    display: none;
} 
.d-block{
    display: block;
} 
.place-start{
    place-self: flex-start;
}


/*# sourceMappingURL=styles.css.map */